# Test results & settings
testrun.properties 

# Intellij
.idea/
*.iml

# Eclipse
.project
.settings/
.classpath
local.properties

# Maven
target/

# Gradle
.gradle
build/
gradle/wrapper/gradle-wrapper.properties
gradle

# Misc
.metadata
bin/
tmp/
*.tmp
*.bak
*.log
*.swp

